<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/> <!--320-->

    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> %>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LOAN</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <style>
      .space{
        height: 20px;
      }

      .space-one{
        height: 10px;
      }
      
      .space-two{
        height: 5px;
      }

      .space-three{
        height: 0.5px;
      }

      .text-line {
        background-color: transparent;
        color: black;
        outline: none;
        outline-style: none;
        border-color: blue;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #0084ff 1px;
        /* padding: 0px 50px; */
        width: 310px;
        height: 20px;
        padding: 8px 0px;
      }
      

      /*---------------------------
        Blue Button
      ---------------------------*/
      .hidden-button {
        margin-left: 25px;
        margin-right: 10px;
        font-size: px;
        text-decoration: none;
        color: #fff;
        background-color: #fff;
        border: 1px solid #fff;
        width: 35px;
        height: 55px;
        line-height: 35px;
        position: center;
        border-radius: 11px;
        outline: none;
        -webkit-transition: all ease .15s;
        -o-transition: all ease .15s;
        -moz-transition: all ease .15s;
        transition: all ease .15s;

      }


      .fb-message-blue {
        margin-left: 25px;
        font-size: px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: #fff;
        background-color: #0084ff;
        border: 1px solid #0084ff;
        width: 120px;
        height: 55px;
        line-height: 35px;
        position: center;
        border-radius: 11px;
        outline: none;
        -webkit-transition: all ease .15s;
        -o-transition: all ease .15s;
        -moz-transition: all ease .15s;
        transition: all ease .15s;
      }
      .fb-message-blue:hover {
        background-color: #2093ff;
        border: 1px solid #2093ff;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        /* transform: scale(1.15); */ /* uncomment to add zoom effect */
      }
      .fb-message-blue:focus {
        background-color: #0084ff;
        border: 1px solid #0084ff;
        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
      }
* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
}

#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Raleway;
  padding: 0px;
  width: 20%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
        background-color: transparent;
        font-size: 16px;
        color: black;
        outline: none;
        outline-style: none;
        border-color: blue;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #0084ff 1px;
        /* padding: 0px 50px; */
        width: 320px;
        height: 20px;
        padding: 8px 0px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 3px;
  width: 3px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4CAF50;
}

    select#soflow, select#soflow-color {
        background-color: transparent;
        color: grey;
        outline: none;
        outline-style: none;
        border-color: blue;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #0084ff 1px;
        width: 320px;
        height: 20px;
        padding: 0px -1px;
      }


.fb-share {
  vertical-align: top;
  display: inline-block;
  height: 8px;
  padding: 0 4px;
  border: 1px solid #cad4e7;
  border-radius: 3px;
  background: #eceef5;
  color: #3b5998;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  /* IE7 */
  *display: inline;
  *zoom: 1;
}
</style>

<body>
<center>
<form id="regForm" action="/user_create?sender_psid=" + sender_psid method="POST">
  <h1></h1>
  <input type="hidden" name="sender_psid" value="<%= sender_psid %>">

<%# FULLNAME %>
  <div class="tab">
    <p><input id="text-line" placeholder="First name..." oninput="this.className = ''" name="create_first_name" autofocus="true" required /><h1></h1></p>
    <p><input id="text-line" placeholder="Middle name..." oninput="this.className = ''" name="create_middle_name" autofocus="true" required /><h1></h1></p>
    <p><input id="text-line" placeholder="Last name..." oninput="this.className = ''" name="create_last_name" autofocus="true" required /><h1></h1><h1></h1><h1></h1></p>
    </div>
  </div>
<%# ADDRESS %>
  <div class="tab">
      <p><input placeholder="Address.." oninput="this.className = ''" name="address" required /></p>
      <p>         
        <select id="soflow" name="yearsStay" required />
          <option value="" disabled selected>Years of stay</option>
          <option value="1"> 1</option>
          <option value="2"> 2</option>
          <option value="3"> 3</option>
          <option value="4"> 4</option>
          <option value="5"> 5</option>
          <option value="6"> 6</option>
          <option value="7"> 7</option>
          <option value="8"> 8</option>
          <option value="9"> 9 </option>
          <option value="10"> 10</option>
          <option value="11"> 11</option>
          <option value="12"> 12</option>
          <option value="13"> 13</option>
          <option value="14"> 14</option>
          <option value="15"> 15</option>
          <option value="16"> 16</option>
          <option value="17"> 17</option>
          <option value="18"> 18</option>
          <option value="19"> 19 </option>
          <option value="20"> 20</option>
          <option value="21"> 21</option>
          <option value="22"> 22</option>
          <option value="23"> 23</option>
          <option value="24"> 24</option>
          <option value="25"> 25</option>
          <option value="26"> 26</option>
          <option value="27"> 27</option>
          <option value="28"> 28</option>
          <option value="29"> 29 </option>
          <option value="30"> 30</option>
          <option value="31"> 31</option>
          <option value="32"> 32</option>
          <option value="33"> 33</option>
          <option value="34"> 34</option>
          <option value="35"> 35</option>
          <option value="36"> 36</option>
          <option value="37"> 37</option>
          <option value="38"> 38</option>
          <option value="39"> 39 </option>
          <option value="40"> 40</option>
        </select>  
      </p>
      <p>        
        <select id="soflow" name="monthStay" required />
           <option value="" selected="">Month of stay</option>
            <option value="1"> 1</option>
            <option value="2"> 2</option>
            <option value="3"> 3</option>
            <option value="4"> 4</option>
            <option value="5"> 5</option>
            <option value="6"> 6</option>
            <option value="7"> 7</option>
            <option value="8"> 8</option>
            <option value="9"> 9 </option>
            <option value="10"> 10</option>
            <option value="11"> 11</option>
        </select>
        <h1><h1>
      </p>
  </div>

  <div class="tab">
      <p>E-mail:<input type="email"  id="text-line" placeholder="E-mail..." oninput="this.className = ''" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autofocus="true" required /><h1></h1></p>
      <p>Mobile:<input type="tel" id="text-line" placeholder="Number..." oninput="this.className = ''" name="number" autofocus="true" maxlength="15" value="(+63)" required /><h1></h1></p>
  </div>

  <div class="tab">
      <p>Birthday:<input type="date" id="text-line" placeholder="..." oninput="this.className = ''" name="bday" autofocus="true" required /></p>
      <h1 class="space-two"></h1> 
      <h1 class="space-two"></h1> 
  </div>

  <div class="tab">
      <p>Monthly Salary:<input type="number" id="text-line" placeholder="..." oninput="this.className = ''" name="monthlySalary" autofocus="true" required /></p>
      <p>Additional Income:<input type="number" id="text-line" placeholder="..." oninput="this.className = ''" name="additional" autofocus="true" required /></p> 
  </div>

  <div class="tab">
      <p>We're Almost There!</p>
      <a href="https://www.rfc.com.ph/terms/">Terms and condition<input type="checkbox" checked="checked" name="accept" value="True" align="right" width="48" height="48"></a>
  </div>


  <div style="overflow:no;">
    <div style="float:left;">
    <center>
      <button class="hidden-button" type="button" id="hidden"></button>
      <button class="fb-message-blue" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button class="fb-message-blue" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <h1 class="space-one"></h1> 
  <h1 class="space-two*-*[class]="expression"></h1> 


  <!-- Circles which indicates the steps of the form: -->
  <div style="margin-left:19px;margin-top:60px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
   if (n == 0) {
     document.getElementById("prevBtn").style.display = "none";
   } else {
     document.getElementById("prevBtn").style.display = "inline";
   }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  if (n == 0) {
     document.getElementById("hidden").style.display = "inline";
   } else {
     document.getElementById("hidden").style.display = "none";
   }

  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

</body>
</html>
